.testimonySection {
  background-color: var(--color-green-1);
  padding: var(--padding-2) 0;
}

.testimonySection h2 {
  color: var(--color-white);
  padding: var(--padding-1);
  text-align: center;
}

.testimony {
  background-color: var(--color-white);

  border-radius: var(--radius-2);
  border: none;

  box-shadow: 5px 5px 11px -1px #000000;

  text-align: center;
  align-items: center;
  justify-content: space-between;

  padding: var(--padding-2);

  color: var(--color-gray-1);

  max-width: 450px;

  align-self: center;
}

.testimony q {
  font-style: italic;
}

@media (min-width: 1080px) {
  .testimonySection ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .testimonySection .container{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .testimony {
    width: 350px;
    height: 150px;
    align-items: center;
    justify-content: center;
    gap: var(--gap-2);
  }
}
